# DIA 3

## Temario
- Listas
- Tuplas
- Sets
- Diccionarios

# ESTRUCTURAS DE DATOS

Las estructuras de datos son formas de organizar información para trabajar con ella de manera eficiente. Veremos las siguientes:

    - Listas --> ordenadas, modificables, permiten duplicados.
    - Tuplas -->  ordenadas, inmutables, permiten duplicados.
    - Sets --> no ordenados, sin duplicados.
    - Diccionarios--> pares clave:valor.

# LISTAS

Las listas son colecciones ordenadas que podemos modificar y almacenan elementos de distintos tipos de datos. Se definen usando corchetes [] y los elementos se separan por comas. Veamos un primer ejemplo sobre una lista de compras.

In [1]:
lista_de_compras = ["manzanas", "pan", "leche", "huevos", "mantequilla", "queso","jamón"]
print(lista_de_compras)

['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamón']

In [2]:
#Veamos cómo acceder a los elementos de una lista usando índices.
#Para ello hay que considerar algo escencial en Python: los índices comienzan en 0.
print(lista_de_compras[0])  #Imprime "manzanas"
print(lista_de_compras[3])  #Imprime "huevos"

manzanas
huevos

In [3]:
#Agreguemos ahora un elemento a la lista usando el método .append()
lista_de_compras.append("sopa")
print(lista_de_compras)  #Imprime la lista con "sopa" al final

['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamón', 'sopa']

In [4]:
#Sin embargo, puede haber ocasiones en que queramos agregar un elemento en una posición específica, para ello usamos el
#método .insert()
lista_de_compras.insert(2, "arroz")  #Agrega "arroz" en la posición 2
print(lista_de_compras)  #Imprime la lista con "arroz" en la posición 2

['manzanas', 'pan', 'arroz', 'leche', 'huevos', 'mantequilla', 'queso', 'jamón', 'sopa']

In [5]:
#Ahora eliminemos un elemento usando el método .remove(), en el cual indicamos el elemento a eliminar
lista_de_compras.remove("pan")
print(lista_de_compras)

['manzanas', 'arroz', 'leche', 'huevos', 'mantequilla', 'queso', 'jamón', 'sopa']

In [6]:
#Tenemos otros dos métodos para eliminar. El primero de ellos es .pop() que elimina y regresa el último valor de la lista.
lista_de_compras.pop()

'sopa'

In [7]:
#El siguiente es menos común pero es usar la palabra 'del', donde indicamos el índice a eliminar
del lista_de_compras[2] #elimina leche
print(lista_de_compras)

['manzanas', 'arroz', 'huevos', 'mantequilla', 'queso', 'jamón']

In [8]:
#Otra operación importante es el recorrer la lista, esto mediante un ciclo for
i = 1
for elemento in lista_de_compras:
    print(f"{i} - {elemento}")
    i+=1
 #Con esto no solo podemos imprimir la lista de una forma más entendible, sino que nos permite hacer acciones especificas
 #según el valor de los elementos.

1 - manzanas
2 - arroz
3 - huevos
4 - mantequilla
5 - queso
6 - jamón

Hagamos un juego, piedra, papel o tijera. Hecho con lista para colocar las opciones queda de esta forma.

In [9]:
import random
opciones = ["piedra", "papel", "tijeras"]

while True:
    eleccion = input("\nElige piedra, papel o tijeras (o escribe salir si ya no quieres jugar): ").lower()

    if eleccion == "salir":
        print("¡Gracias por jugar!")
        break

    if eleccion not in opciones:
        print("Opción no válida, intenta de nuevo.")
        continue
    aleatoria = random.choice(opciones)
    print("La computadora eligió:", aleatoria)

    # Determinamos el ganador
    if eleccion == aleatoria:
        print("Empate")
    elif (eleccion == "piedra" and aleatoria == "tijeras") \
         or (eleccion == "papel" and aleatoria == "piedra") \
         or (eleccion == "tijeras" and aleatoria == "papel"):
        print("¡Ganaste!:))")
    else:
        print("Perdiste:((")

Elige piedra, papel o tijeras (o escribe salir si ya no quieres jugar):

Opción no válida, intenta de nuevo.

Elige piedra, papel o tijeras (o escribe salir si ya no quieres jugar):

Opción no válida, intenta de nuevo.

Elige piedra, papel o tijeras (o escribe salir si ya no quieres jugar):

Opción no válida, intenta de nuevo.

Elige piedra, papel o tijeras (o escribe salir si ya no quieres jugar):  piedra

La computadora eligió: papel
Perdiste:((

Elige piedra, papel o tijeras (o escribe salir si ya no quieres jugar):  papel

La computadora eligió: papel
Empate

Elige piedra, papel o tijeras (o escribe salir si ya no quieres jugar):  salir

¡Gracias por jugar!

Exploremos otra cualidad de las listas. Digamos que tengo una lista donde fui capturando los promedios finales de la materia de cálculo integral y quiero acomodarlos en orden ascendente. Para ello puedo utilizar el método .sort(), este acomoda los datos en un orden ascendente la modificación se realiza en la lista original. Si quisieramos utilizar el orden descendente deberíamos de agregar el argumento reverse=True

In [10]:
promedios = [55.6, 97.5, 23.6, 77.5, 88.2, 90.0, 72.4, 100, 100, 69.7, 88.3, 63.2]
promedios.sort()
for cali in promedios:
    print(cali)
#  último elemento de la lista. Para ello puedo hacer esto:

23.6
55.6
63.2
69.7
72.4
77.5
88.2
88.3
90.0
97.5
100
100

In [11]:
#Digamos que ahora quiero obtener la lista en orden descendente.
promedios.sort(reverse=True)
promedios

#otra alternativa es utilizar la función .reverse()
#una tercer alternativa es guardar una copia de la lista usando algo asi:
#nueva_lista = mi_lista[::-1]

[100, 100, 97.5, 90.0, 88.3, 88.2, 77.5, 72.4, 69.7, 63.2, 55.6, 23.6]

In [12]:
#Ahora, de esa nueva lista quiero obtener cuál es el último lugar, o el menor promedio en todo caso.
#Usamos la propiedad para acceder en orden inverso a la lista
print(promedios[-1])

23.6

In [13]:
#Otra forma de encontrar el mayor y menor en listas, particularmente importantes si no son ordenadas, son max y min
print(max(promedios))
print(min(promedios))

100
23.6

In [14]:
#Ejercicio: Haz un código que le pida al usuario una palabra y muestra cuántas veces se repite cada vocal en dicha palabra
#ejemplo: El usuario ingresa "abecedario", el programa muestra una salida de:
#   a: 2  e: 2 i: 1 o: 1 u: 0
#Recuerda hacer uso de las listas para guardar las vocales
#TU CÓDIGO AQUÍ

In [15]:
#También podemos tener listas bidimensionales. Digamos que queremos guardar las calificaciones de 3 materias de 4 alumnos.
#Hacemos lo siguiente.
calificaciones = [[100, 88, 93], [99, 56, 72], [72, 81, 85], [80, 72, 71]]

for i, alumno in enumerate(calificaciones, start=1):
    print(f"\nAlumno {i}:")
    for x in alumno:
        print("  Calificación:", x)

Alumno 1:
  Calificación: 100
  Calificación: 88
  Calificación: 93

Alumno 2:
  Calificación: 99
  Calificación: 56
  Calificación: 72

Alumno 3:
  Calificación: 72
  Calificación: 81
  Calificación: 85

Alumno 4:
  Calificación: 80
  Calificación: 72
  Calificación: 71

In [16]:
#Te preguntarás cómo ingresar datos que nos de un usuario a este tipo de listas. Hagamos el ejercicio de preguntar calificaciones
#pero agreguemos el preguntar al usuario cuántos alumnos y materias hay y los guardamos en la lista.
calis = [] #declaramos lista vacía

alumnos = int(input("¿Cuántos alumnos son? "))
materias = int(input("¿Cuántas materias tiene cada alumno? "))

for i in range(alumnos):
    print(f"\nAlumno {i+1}")
    calif_alumno = []   #declaramos una lista temporal para las calificaciones específicas de este alumno
    for j in range(materias):
        cal = float(input(f"Calificación de la materia {j+1}: "))
        calif_alumno.append(cal)
    calis.append(calif_alumno) #agregamos esa lista a la lista de calificaciones

print("\nCalificaciones finales.")
for i, alumno in enumerate(calis, start=1):
    print(f"\nAlumno {i}:")
    for x in alumno:
        print("  Calificación:", x)

¿Cuántos alumnos son?  0
¿Cuántas materias tiene cada alumno?  0

Calificaciones finales.

# TUPLAS

Colecciones ordenadas, pero inmutables. Nos sirven para datos que no deben cambiar, como coordenadas o la edad de una persona

In [17]:
#Hagamos un programa donde guardaremos fechas de nacimiento de un grupo en una tupla, pues estas no pueden cambiar

fechas = ("10/10/05", "22/03/02", "17/04/04", "01/01/00", "01/01/00", "12/12/06")
fechas

('10/10/05', '22/03/02', '17/04/04', '01/01/00', '01/01/00', '12/12/06')

In [18]:
#otra función útil en las tuplas y lista es len, nos permite conocer la longitud de la estructura
print(len(fechas))

6

In [19]:
#Recordemos que la tupla es inalterable, no podemos agregar, ni eliminar ni cambiar el orden de los elementos.
#En un determinado caso que necesitaras hacer eso, tu alternativa es convertir la tupla a una lista
#Supongamos que en la anterior tupla alguien se inscribió de último momento y queremos agregarlo.
fechas_lista = list(fechas)
fechas_lista.append("10/06/03")
fechas_nueva = tuple(fechas_lista)
fechas_nueva
#También podemos guardar la lista hecha tupla en la variable fechas original, pero realmente solo reemplazas lo que
#tiene la variable.

('10/10/05',
 '22/03/02',
 '17/04/04',
 '01/01/00',
 '01/01/00',
 '12/12/06',
 '10/06/03')

In [20]:
#Las tuplas son útiles para trabajar con vectores, veamos como usarlos para calcular el producto escalar de dos vectores
x = (18, 22, 13)
y = (11, 20, 12)
resultado = 0

for i in range(len(x)):
    resultado += x[i]*y[i]

print("El producto escalar es de ", resultado)

El producto escalar es de  794

# SETS

Los sets son colecciones sin orden y que NO permiten elementos duplicados

In [21]:
#Observemos como sets no acepta duplicados

nombres = {"Angel", "Eliud", "Diana", "Juan", "Juan", "Katia"}
print(nombres)

#Al hacer el print observamos dos cosas: el orden cambia y Juan solo se encuentra una vez
#es decir, no nos va a marcar error por intentar meter el mismo elemento dos veces, pero solo lo almacena la primera vez

{'Juan', 'Katia', 'Eliud', 'Angel', 'Diana'}

In [22]:
#Recordemos que podemos tener elementos de distintos tipos de datos
distintos = {"musica", "escribir", 14, "azul"}
distintos

{14, 'azul', 'escribir', 'musica'}

In [23]:
#Debido a que no tienen orden, no accedemos a sus elementos por medio de índices como con las listas
#Si podemos seguir agregando elementos

nombres.add("Leonardo")
nombres

{'Angel', 'Diana', 'Eliud', 'Juan', 'Katia', 'Leonardo'}

In [24]:
print(nombres[2]) #observa el error que lanza

TypeError: 'set' object is not subscriptable

In [25]:
nombres[2] = "Axel" #lo mismo aquí, no podemos usar índices para asignar valores

TypeError: 'set' object does not support item assignment

In [26]:
#Tenemos otra operación: la unión. Como podrás suponer, nos muestra la unión de dos sets
#Digamos que tenemos la lista de matrículas del grupo matutino y vespertino
matutino = {20322, 22183, 25611, 21990}
vespertino = {19823, 20012, 23451}

total_matriculas = matutino.union(vespertino)
total_matriculas

{19823, 20012, 20322, 21990, 22183, 23451, 25611}

In [27]:
#otra opción es usar el operador |
total_matriculas = matutino | vespertino
total_matriculas

{19823, 20012, 20322, 21990, 22183, 23451, 25611}

In [28]:
#También tenemos la intersección
#ahora supongamos que tenemos las matrículas de alumnos inscritos a dos cursos y queremos saber quiénes llevan ambas
calculoIntegral = {23451, 29846, 24836, 22344, 27634, 22999, 22198, 22990, 23367}
algebra = {23666, 29846, 22111, 22198, 22344, 23399, 27634}
#Opción 1: Usando .intersection()
inter = calculoIntegral.intersection(algebra)
inter

{22198, 22344, 27634, 29846}

In [29]:
#Opción 2: Usar el operador &
inter = calculoIntegral & algebra
inter

{22198, 22344, 27634, 29846}

In [30]:
#También tenemos la diferencia. Usemos el mismo ejemplo de los cursos
#Opcion 1: Usar .difference
dif = calculoIntegral.difference(algebra)
dif

{22990, 22999, 23367, 23451, 24836}

In [31]:
#Opción 2: Usar el operador -
dif = calculoIntegral - algebra
dif

{22990, 22999, 23367, 23451, 24836}

In [32]:
#Observemos como cambia esto si cambiamos el orden
dif = algebra - calculoIntegral
dif

{22111, 23399, 23666}

In [33]:
#Para recorrer un set podemos hacerlo como con las listas
for m in dif:
    print(m)

#También tenemos otras operaciones de las otras estrcuturas que hemos como len
print("Alumnos en algebra:")
print(len(algebra))

#Tambien podemos usar el operador in para saber si cierto elemento está en el set, por ejemplo:
print("El alumno 23666 está en cálculo?")
print(23666 in calculoIntegral)
print("Está entonces en álgebra?", 23666 in algebra)

23666
22111
23399
Alumnos en algebra:
7
El alumno 23666 está en cálculo?
False
Está entonces en álgebra? True

In [34]:
#Tenemos varios métodos para eliminar de un set
#traigamos de nuevo el set de los nombres
nombres = {"Angel", "Eliud", "Diana", "Juan", "Juan", "Katia"}
#Opción 1: Utilizar .remove() Debemos de pasar que elemento queremos eliminar. Si no existe, marca error
nombres.remove("Eliud")
nombres
#nombres.remove("Alexis") #descomenta esto y observa como marca error

{'Angel', 'Diana', 'Juan', 'Katia'}

In [35]:
#Opción 2: .discard() Hace lo mismo que el .remove()
nombres.discard("Diana")
nombres.discard("Alexis") #observa como al no encontrarlo, no marca error
nombres

{'Angel', 'Juan', 'Katia'}

In [36]:
#Opción 3: .pop() Elimina un elemento aleatorio del set
nombres.add("Diana") #lo agrego para que vean que es aleatorio, no es necesariamente el último agregado
nombres.pop()
nombres

{'Angel', 'Diana', 'Katia'}

In [37]:
#Opción 4: .clear() Este elimina TODO el set
nombres.clear()
nombres

set()

# DICCIONARIOS

Los diccionarios son colecciones no ordenadas de pares clave:valor.

In [38]:
#Comencemos con un ejemplo sencillo: un diccionario para guardar la información de un solo alumno, supongamos que solo
#necesitamos las calificaciones del último semestre
alumno = {
    "nombre": "Eliud Sánchez",
    "edad": 21,
    "carrera": "LCC",
    "area preferida": "IA",
    "semestre": 7,
    "promedio": 88,
    "calificaciones": [100, 94, 94, 88, 97, 100] #podemos guardar otras esctructuras en el campo value, incluso otros diccionarios
}

alumno

{'nombre': 'Eliud Sánchez',
 'edad': 21,
 'carrera': 'LCC',
 'area preferida': 'IA',
 'semestre': 7,
 'promedio': 88,
 'calificaciones': [100, 94, 94, 88, 97, 100]}

In [39]:
#Podemos acceder a los elementos de las key
print("El alumno ", alumno["nombre"], " está estudiando ", alumno["carrera"])

El alumno  Eliud Sánchez  está estudiando  LCC

In [40]:
#de esa forma podemos también modificar elementos
alumno["area preferida"] = "redes"
alumno

{'nombre': 'Eliud Sánchez',
 'edad': 21,
 'carrera': 'LCC',
 'area preferida': 'redes',
 'semestre': 7,
 'promedio': 88,
 'calificaciones': [100, 94, 94, 88, 97, 100]}

In [41]:
#Incluso podemos agregar nuevos key de esa forma
alumno["beca"] = True
alumno

{'nombre': 'Eliud Sánchez',
 'edad': 21,
 'carrera': 'LCC',
 'area preferida': 'redes',
 'semestre': 7,
 'promedio': 88,
 'calificaciones': [100, 94, 94, 88, 97, 100],
 'beca': True}

In [42]:
#como dijimos, no se permiten duplicados, así que se va a sobreescribir en caso que se quiera poner un dato duplicado
alumno = {
    "nombre": "Eliud Sánchez",
    "edad": 21,
    "carrera": "LCC",
    "area preferida": "IA",
    "semestre": 7,
    "semestre": 8,
    "promedio": 88,
    "calificaciones": [100, 94, 94, 88, 97, 100] 
}
alumno #se observa que solo coloca un semestre, no los dos

{'nombre': 'Eliud Sánchez',
 'edad': 21,
 'carrera': 'LCC',
 'area preferida': 'IA',
 'semestre': 8,
 'promedio': 88,
 'calificaciones': [100, 94, 94, 88, 97, 100]}

In [43]:
#Hay varias formas de iterar en los diccionarios
#La primera es para imprimir las keys
for aspecto in alumno:
    print(aspecto)

nombre
edad
carrera
area preferida
semestre
promedio
calificaciones

In [44]:
#La segunda es imprimir los campos value
for valor in alumno:
    print(alumno[valor])

Eliud Sánchez
21
LCC
IA
8
88
[100, 94, 94, 88, 97, 100]

In [45]:
#La tercera es imprimir ambos
for aspecto, valor in alumno.items():
    print(aspecto, ": ", valor)

nombre :  Eliud Sánchez
edad :  21
carrera :  LCC
area preferida :  IA
semestre :  8
promedio :  88
calificaciones :  [100, 94, 94, 88, 97, 100]

In [46]:
#El método .clear() también se puede usar aquí. Tenemos otros como el.get() que nos ayuda a obtener el value de cierta key
print(alumno.get("nombre"))

Eliud Sánchez

In [47]:
#Tenemos el método .items() que ya usamos arriba, y como vimos, devuelve tanto los key como values
#Otro uso es que con ello podemos pasar a una lista nuestro diccionario:
alumno_l = alumno.items()
alumno_lista = list(alumno_l)
alumno_lista

[('nombre', 'Eliud Sánchez'),
 ('edad', 21),
 ('carrera', 'LCC'),
 ('area preferida', 'IA'),
 ('semestre', 8),
 ('promedio', 88),
 ('calificaciones', [100, 94, 94, 88, 97, 100])]

In [48]:
#Otro método es .keys(), que nos devuelve las keys del diccionario y también se usa al iterar
alumno_k = alumno.keys()
alumno_k

dict_keys(['nombre', 'edad', 'carrera', 'area preferida', 'semestre', 'promedio', 'calificaciones'])

In [49]:
for aspecto in alumno.keys():
    print(aspecto)

nombre
edad
carrera
area preferida
semestre
promedio
calificaciones

In [50]:
#El método .values() sirve para obtener los values del diccionario, también se puede usar en la iteracción
alumno_v = alumno.values()
alumno_v

dict_values(['Eliud Sánchez', 21, 'LCC', 'IA', 8, 88, [100, 94, 94, 88, 97, 100]])

In [51]:
#El operador in se puede utilizar con las keys
if "carrera" in alumno:
    print("Existe carrera")
else:
    print("No existe carrera")

if("dinero") in alumno:
    print("Alumno tiene dinero")
else:
    print("Alumno no tiene dinero")

Existe carrera
Alumno no tiene dinero

In [52]:
#Otro método para cambiar los values es .update()
alumno.update({"semestre": 6})
alumno

{'nombre': 'Eliud Sánchez',
 'edad': 21,
 'carrera': 'LCC',
 'area preferida': 'IA',
 'semestre': 6,
 'promedio': 88,
 'calificaciones': [100, 94, 94, 88, 97, 100]}

In [53]:
#Podemos hacer copias de diccionario con .copy()
alumnoCopia = alumno.copy()
alumnoCopia

{'nombre': 'Eliud Sánchez',
 'edad': 21,
 'carrera': 'LCC',
 'area preferida': 'IA',
 'semestre': 6,
 'promedio': 88,
 'calificaciones': [100, 94, 94, 88, 97, 100]}

In [54]:

estudiantes = {
    23456: dict(nombre = "Juan Ángel",
                carrera = "LSTI",
                semestre = 8,
                area_preferida = "por definir" ),
    25556: dict(nombre = "Juan Ángel",
                carrera = "LSTI",
                semestre = 8,
                area_preferida = "por definir" )
}
estudiantes

{23456: {'nombre': 'Juan Ángel',
  'carrera': 'LSTI',
  'semestre': 8,
  'area_preferida': 'por definir'},
 25556: {'nombre': 'Juan Ángel',
  'carrera': 'LSTI',
  'semestre': 8,
  'area_preferida': 'por definir'}}

## EJERCICIO:
Imaginemos que quieres hacer un pequeño programa para la gestión de una tienda, necesitas lo siguiente:

    - Una lista con tus productos
    - Una tupla con los precios de tus productos, manteniendo el orden de los productos en la lista
    - Un diccionario donde tengas el inventario: producto: precio, stock
    - Un set con los productos que están en oferta
    
Al final debes de mostrar todos los productos con su precio, stock.
Para los que estén en oferta imprimir un mensaje extra "OFERTA!!!" 
Para los que no estén en oferta imprimir un mensaje extra: "Grandes precios!"
¿Crees que también puedas simular una compra? Si quieres practicar más, también puedes intentarlo

In [ ]:
# Lista de productos
productos = ["manzana", "banana", "leche", "pan"]  # <-- LISTA

# Tupla de precios
precios = (10, 5, 20, 15)  # <-- TUPLA

# Diccionario de inventario: producto -> {"precio": x, "stock": y}
inventario = {productos[i]: {"precio": precios[i], "stock": 10} for i in range(len(productos))}  
# <-- DICCIONARIO
# Clave: nombre del producto
# Valor: otro diccionario con "precio" y "stock"

# Set de productos en oferta
ofertas = {"manzana", "pan"}  # <-- SET

# Mostrar productos
for p in productos:
    msg = "OFERTA!!!" if p in ofertas else "Grandes precios!"
    info = inventario[p]
    print(f"{p.title()} - ${info['precio']} - Stock: {info['stock']} -> {msg}")

# Compra simple
compra = input("\n¿Qué producto quieres comprar? ").strip().lower()
if compra in inventario and inventario[compra]["stock"] > 0:
    inventario[compra]["stock"] -= 1
    print(f"Compraste 1 {compra}. Stock restante: {inventario[compra]['stock']}")
else:
    print("Producto no disponible.")