# DIA 3

## Temario
- Listas
- Tuplas
- Sets
- Diccionarios

# ESTRUCTURAS DE DATOS

Las estructuras de datos son formas de organizar información para trabajar con ella de manera eficiente. Veremos las siguientes:

    - Listas --> ordenadas, modificables, permiten duplicados.
    - Tuplas -->  ordenadas, inmutables, permiten duplicados.
    - Sets --> no ordenados, sin duplicados.
    - Diccionarios--> pares clave:valor.

# LISTAS

Las listas son colecciones ordenadas que podemos modificar y almacenan elementos de distintos tipos de datos. Se definen usando corchetes [] y los elementos se separan por comas. Veamos un primer ejemplo sobre una lista de compras.

In [22]:
lista_de_compras = ["manzanas", "pan", "leche", "huevos", "mantequilla", "queso","jamón"]
print(lista_de_compras)

['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamón']

In [23]:
# Veamos cómo acceder a los elementos de una lista usando índices.
# Para ello hay que considerar algo escencial en Python: los índices comienzan en 0.
print(lista_de_compras[0])  # Imprime "manzanas"
print(lista_de_compras[3])  # Imprime "huevos"

manzanas
huevos

In [24]:
# Agreguemos ahora un elemento a la lista usando el método .append()
lista_de_compras.append("sopa")
print(lista_de_compras)

['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamón', 'sopa']

In [25]:
#agregar un elemento en una posición específica, para ello usamos .insert()
lista_de_compras.insert(2, "arroz")  # Agrega "arroz" en la posición 2
print(lista_de_compras)

['manzanas', 'pan', 'arroz', 'leche', 'huevos', 'mantequilla', 'queso', 'jamón', 'sopa']

In [26]:
# Ahora eliminemos un elemento usando el método .remove(), en el cual indicamos el elemento a eliminar
lista_de_compras.remove("pan")
print(lista_de_compras)

['manzanas', 'arroz', 'leche', 'huevos', 'mantequilla', 'queso', 'jamón', 'sopa']

In [27]:
#Existen otros dos métodos para eliminar. El primero de ellos es .pop() 
lista_de_compras.pop() #sin nada dentro de los parentesis elimina el ultimo elemento
lista_de_compras.pop(6) #o puedes agarrar la posicion que quieras (pero iniciando desde 0)
#Nota: te retorna el numero eliminado
print(lista_de_compras)

['manzanas', 'arroz', 'leche', 'huevos', 'mantequilla', 'queso']

In [28]:
# LEN
# esta nos permite conocer la longitud de la estructura
print(len(lista_de_compras))

6

In [29]:
# Otra operación importante es el recorrer la lista, esto mediante un ciclo for
for i in range(len(lista_de_compras)): #range(n) genera los numeros del 0 a n - 1, excluyendo n
    print(f"{i+1} - {lista_de_compras[i]}")
# Con esto no solo podemos imprimir la lista de una forma más entendible, sino que nos permite hacer acciones especificas
# según la posición de los elementos.

1 - manzanas
2 - arroz
3 - leche
4 - huevos
5 - mantequilla
6 - queso

In [33]:
for elementos in lista_de_compras:
    print(elementos)

manzanas
arroz
leche
huevos
mantequilla
queso

Hagamos un juego, piedra, papel o tijera. Hecho con lista para colocar las opciones queda de esta forma.

In [11]:
# Opcional  
import random
opciones = ["piedra", "papel", "tijeras"]

while True:
  while True:
    eleccion = input("\nElige piedra, papel o tijeras (o escribe salir si ya no quieres jugar): ")
    if eleccion not in opciones and not eleccion == "salir":
        print("Opción no válida, intenta de nuevo.")
    else:
      break

  if eleccion == "salir":
      print("¡Gracias por jugar!")
      break
  aleatoria = random.choice(opciones)
  print("La computadora eligió:", aleatoria)

  # Determinamos el ganador
  if eleccion == aleatoria:
      print("Empate")
  elif (eleccion == "piedra" and aleatoria == "tijeras") \
        or (eleccion == "papel" and aleatoria == "piedra") \
        or (eleccion == "tijeras" and aleatoria == "papel"):
      print("¡Ganaste!:))")
  else:
      print("Perdiste:((")

Elige piedra, papel o tijeras (o escribe salir si ya no quieres jugar): a
Opción no válida, intenta de nuevo.

Elige piedra, papel o tijeras (o escribe salir si ya no quieres jugar): a
Opción no válida, intenta de nuevo.

Elige piedra, papel o tijeras (o escribe salir si ya no quieres jugar): tijeras
La computadora eligió: piedra
Perdiste:((

Elige piedra, papel o tijeras (o escribe salir si ya no quieres jugar): papel
La computadora eligió: piedra
¡Ganaste!:))

Elige piedra, papel o tijeras (o escribe salir si ya no quieres jugar): sali
Opción no válida, intenta de nuevo.

Elige piedra, papel o tijeras (o escribe salir si ya no quieres jugar): salir
¡Gracias por jugar!

In [12]:
promedios = [55.6, 97.5, 23.6, 77.5, 88.2, 90.0, 72.4, 100, 100, 69.7, 88.3, 63.2]
promedios.sort()
for calificacion in promedios:
    print(calificacion)

23.6
55.6
63.2
69.7
72.4
77.5
88.2
88.3
90.0
97.5
100
100

In [19]:
# Digamos que ahora quiero obtener la lista en orden descendente.
promedios.sort(reverse=True)
print(promedios)

# Otra alternativa es utilizar la función .reverse()
# la cual invierte todos los elementos de la lista a como esten ordenados
promedios.reverse()
print(promedios)
# Cabe a destacar que ambas funciones afectan a la lista original

[100, 100, 97.5, 90.0, 88.3, 88.2, 77.5, 72.4, 69.7, 63.2, 55.6, 23.6]
[23.6, 55.6, 63.2, 69.7, 72.4, 77.5, 88.2, 88.3, 90.0, 97.5, 100, 100]

In [20]:
# Ahora, de esa nueva lista quiero obtener cuál es el último lugar, o el menor promedio en todo caso.
# Usamos la propiedad para acceder en orden inverso a la lista
print(promedios[-1])

100

In [21]:
# Otra forma de encontrar el mayor y menor en listas, particularmente importantes si no son ordenadas, son max y min
print(max(promedios))
print(min(promedios))

100
23.6

In [39]:
#También podemos tener listas bidimensionales. Digamos que queremos guardar las calificaciones de 3 materias de 4 alumnos.
#Hacemos lo siguiente.
calificaciones = [[100, 88, 93], [99, 56, 72], [72, 81, 85], [80, 72, 71]] #matriz
i = 1
for cali_i in calificaciones:
    print(f"\nAlumno {i}:")
    j = 1
    for calificacion_j in cali_i:
        print(f"  Cali {j}: {calificacion_j}")
        j += 1
    j = 0
    i += 1

Alumno 1:
  Cali 1: 100
  Cali 2: 88
  Cali 3: 93

Alumno 2:
  Cali 1: 99
  Cali 2: 56
  Cali 3: 72

Alumno 3:
  Cali 1: 72
  Cali 2: 81
  Cali 3: 85

Alumno 4:
  Cali 1: 80
  Cali 2: 72
  Cali 3: 71

In [27]:
#Opcional

# Te preguntarás cómo ingresar datos que nos de un usuario a este tipo de listas.
# Hagamos el ejercicio de preguntar calificaciones pero agreguemos
# el preguntar al usuario cuántos alumnos y materias hay y los guardamos en la lista.
calificaciones = [] # declaramos una lista vacía

alumnos = int(input("¿Cuántos alumnos son? "))
materias = int(input("¿Cuántas materias tiene cada alumno? "))

for i in range(alumnos):
    print(f"\nAlumno {i+1}")
    calificaciones_alumno = []   #declaramos una lista temporal para las calificaciones específicas de este alumno
    for j in range(materias):
        calificacion = float(input(f"Calificación de la materia {j+1}: "))
        calificaciones_alumno.append(calificacion)
    calificaciones.append(calificaciones_alumno) #agregamos esa lista a la lista de calificaciones

print("\nCalificaciones finales.")
i = 1
for alumno in calificaciones:
    print(f"\nAlumno {i}:")
    for calificacion in alumno:
        print("  Calificación:", calificacion)
    i+=1

¿Cuántos alumnos son? 2
¿Cuántas materias tiene cada alumno? 3

Alumno 1
Calificación de la materia 1: 7
Calificación de la materia 2: 8
Calificación de la materia 3: 6

Alumno 2
Calificación de la materia 1: 7
Calificación de la materia 2: 8
Calificación de la materia 3: 5

Calificaciones finales.

Alumno 1:
  Calificación: 7.0
  Calificación: 8.0
  Calificación: 6.0

Alumno 2:
  Calificación: 7.0
  Calificación: 8.0
  Calificación: 5.0

# TUPLAS

Colecciones ordenadas, pero inmutables. Nos sirven para datos que no deben cambiar, como coordenadas o la edad de una persona

In [1]:
# Hagamos un programa donde guardaremos fechas de nacimiento de un grupo en una tupla, pues estas no pueden cambiar

fechas = ("10/10/05", "22/03/02", "17/04/04", "01/01/00", "01/01/00", "12/12/06")
fechas

('10/10/05', '22/03/02', '17/04/04', '01/01/00', '01/01/00', '12/12/06')

In [2]:
# Recordemos que la tupla es inalterable, no podemos agregar, ni eliminar ni cambiar el orden de los elementos.
fechas.append("10/06/03")

AttributeError: 'tuple' object has no attribute 'append'

In [3]:
# En un determinado caso que necesitaras hacer eso, tu alternativa es convertir la tupla a una lista
# Supongamos que en la anterior tupla alguien se inscribió de último momento y queremos agregarlo.
fechas_lista = list(fechas)
fechas_lista.append("10/06/03")
fechas_nueva = tuple(fechas_lista)
fechas_nueva
# También podemos guardar la lista hecha tupla en la variable fechas original, pero realmente solo reemplazarias lo que
# tiene la variable.

('10/10/05',
 '22/03/02',
 '17/04/04',
 '01/01/00',
 '01/01/00',
 '12/12/06',
 '10/06/03')

In [7]:
# Las tuplas son ideales para almacenar datos que deben permanecer constantes
# durante la ejecución del programa. En que casos piensas que podrían ser útiles?

# coordenadas de un punto en un plano cartesiano, fechas fijas o configuraciones que no deben alterarse.

# SETS

Los sets son colecciones sin orden y que NO permiten elementos duplicados

In [9]:
# Observemos como sets no acepta duplicados

nombres = {"Angel", "Eliud", "Diana", "Juan", "Juan", "Katia"}
print(nombres)

# Al hacer el print observamos dos cosas: el orden cambia y Juan solo se encuentra una vez
# es decir, no nos va a marcar error por intentar meter el mismo elemento dos veces, pero solo lo almacena la primera vez

{'Diana', 'Eliud', 'Angel', 'Juan', 'Katia'}

In [10]:
# Recordemos que podemos tener elementos de distintos tipos de datos
distintos_datos = {"musica", "escribir", 14, "azul"}
distintos_datos

{14, 'azul', 'escribir', 'musica'}

In [11]:
# Debido a que no tienen orden, no accedemos a sus elementos por medio de índices como con las listas
# Pero si podemos seguir agregando elementos

nombres.add("Leonardo")
nombres

{'Angel', 'Diana', 'Eliud', 'Juan', 'Katia', 'Leonardo'}

In [12]:
print(nombres[2]) # observa el error que lanza

TypeError: 'set' object is not subscriptable

In [13]:
nombres[2] = "Axel" # lo mismo aquí, no podemos usar índices para asignar valores

TypeError: 'set' object does not support item assignment

In [14]:
# Tenemos otra operación: la unión. Como podrás suponer, nos muestra la unión de dos sets
# Digamos que tenemos la lista de matrículas del grupo matutino y vespertino
matutino = {20322, 22183, 25611, 21990}
vespertino = {19823, 20012, 23451}

# Opción 1: Usar la función .union()
total_matriculas = matutino.union(vespertino)
total_matriculas

{19823, 20012, 20322, 21990, 22183, 23451, 25611}

In [15]:
# Opción 2: Usar el operador |
total_matriculas = matutino | vespertino
total_matriculas

{19823, 20012, 20322, 21990, 22183, 23451, 25611}

In [16]:
# También tenemos la intersección
# Ahora supongamos que tenemos las matrículas de alumnos inscritos a dos cursos y queremos saber quiénes llevan ambas
calculoIntegral = {23451, 29846, 24836, 22344, 27634, 22999, 22198, 22990, 23367}
algebra = {23666, 29846, 22111, 22198, 22344, 23399, 27634}

# Opción 1: Usar .intersection()
ambos_cursos = calculoIntegral.intersection(algebra)
ambos_cursos

{22198, 22344, 27634, 29846}

In [17]:
# Opción 2: Usar el operador &
ambos_cursos = calculoIntegral & algebra
ambos_cursos

{22198, 22344, 27634, 29846}

In [18]:
# También tenemos la diferencia. Usemos el mismo ejemplo de los cursos
# Opcion 1: Usar .difference()
solo_calculo = calculoIntegral.difference(algebra)
solo_calculo

{22990, 22999, 23367, 23451, 24836}

In [19]:
# Opción 2: Usar el operador -
solo_calculo = calculoIntegral - algebra
solo_calculo

{22990, 22999, 23367, 23451, 24836}

In [22]:
# Observemos como cambia esto si cambiamos el orden
solo_algebra = algebra - calculoIntegral
solo_algebra

{22111, 23399, 23666}

In [23]:
# Para recorrer un set podemos hacerlo como con las listas
for m in solo_algebra:
    print(m)

# También tenemos otras operaciones de las otras estrcuturas que hemos como len
print("Alumnos en algebra:")
print(len(algebra))

# Tambien podemos usar el operador in para saber si cierto elemento está en el set, por ejemplo:
print("El alumno 23666 está en cálculo?")
print(23666 in calculoIntegral)
print("Está entonces en álgebra?", 23666 in algebra)

23666
22111
23399
Alumnos en algebra:
7
El alumno 23666 está en cálculo?
False
Está entonces en álgebra? True

In [37]:
# Tenemos varios métodos para eliminar de un set
# traigamos de nuevo el set de los nombres
nombres = {"Angel", "Eliud", "Diana", "Juan", "Juan", "Katia"}

# Opción 1: Utilizar .remove()
# Debemos de indicar qué elemento queremos eliminar. Si no existe, marcará error
nombres.remove("Eliud")
print(nombres)

{'Angel', 'Katia', 'Diana', 'Juan'}

In [27]:
# Opción 2: .discard() Hace lo mismo que el .remove(), pero no mostrara el error
nombres.discard("Diana")
nombres.discard("Alexis")
nombres

{'Angel', 'Juan', 'Katia'}

In [41]:
# Opción 3: .pop() Elimina un elemento aleatorio del set
nombres = {"Angel", "Eliud", "Diana", "Juan", "Katia"}
print(nombres)
nombres.pop()
print(nombres)

{'Diana', 'Eliud', 'Angel', 'Juan', 'Katia'}
{'Eliud', 'Angel', 'Juan', 'Katia'}

In [42]:
# Opción 4: .clear() Esta funcion elimina TODO el set
nombres.clear()
nombres

set()

# DICCIONARIOS

Los diccionarios son colecciones no ordenadas de pares clave:valor.

In [ ]:
#Comencemos con un ejemplo sencillo: un diccionario para guardar la información de un solo alumno, supongamos que solo
#necesitamos las calificaciones del último semestre
alumno = {
    "nombre": "Eliud Sánchez",
    "edad": 21,
    "carrera": "LCC",
    "area preferida": "IA",
    "semestre": 7,
    "promedio": 88,
    "calificaciones": [100, 94, 94, 88, 97, 100] #podemos guardar otras esctructuras en el campo value, incluso otros diccionarios
}

alumno

{'nombre': 'Eliud Sánchez',
 'edad': 21,
 'carrera': 'LCC',
 'area preferida': 'IA',
 'semestre': 7,
 'promedio': 88,
 'calificaciones': [100, 94, 94, 88, 97, 100]}

In [ ]:
#Podemos acceder a los elementos de las key
print("El alumno ", alumno["nombre"], " está estudiando ", alumno["carrera"])

El alumno  Eliud Sánchez  está estudiando  LCC

In [ ]:
#de esa forma podemos también modificar elementos
alumno["area preferida"] = "redes"
alumno

{'nombre': 'Eliud Sánchez',
 'edad': 21,
 'carrera': 'LCC',
 'area preferida': 'redes',
 'semestre': 7,
 'promedio': 88,
 'calificaciones': [100, 94, 94, 88, 97, 100]}

In [ ]:
#Incluso podemos agregar nuevos key de esa forma
alumno["beca"] = True
alumno

{'nombre': 'Eliud Sánchez',
 'edad': 21,
 'carrera': 'LCC',
 'area preferida': 'redes',
 'semestre': 7,
 'promedio': 88,
 'calificaciones': [100, 94, 94, 88, 97, 100],
 'beca': True}

In [35]:
#como dijimos, no se permiten duplicados, así que se va a sobreescribir en caso que se quiera poner un dato duplicado
alumno = {
    "nombre": "Eliud Sánchez",
    "edad": 21,
    "carrera": "LCC",
    "area preferida": "IA",
    "semestre": 7,
    "semestre": 8,
    "promedio": 88,
    "calificaciones": [100, 94, 94, 88, 97, 100]
}
alumno #se observa que solo coloca un semestre, no los dos

{'nombre': 'Eliud Sánchez',
 'edad': 21,
 'carrera': 'LCC',
 'area preferida': 'IA',
 'semestre': 8,
 'promedio': 88,
 'calificaciones': [100, 94, 94, 88, 97, 100]}

In [ ]:
#Hay varias formas de iterar en los diccionarios
#La primera es para imprimir las keys
for aspecto in alumno:
    print(aspecto)

nombre
edad
carrera
area preferida
semestre
promedio
calificaciones

In [ ]:
#La segunda es imprimir los campos value
for valor in alumno:
    print(alumno[valor])

Eliud Sánchez
21
LCC
IA
8
88
[100, 94, 94, 88, 97, 100]

In [ ]:
#La tercera es imprimir ambos
for aspecto, valor in alumno.items(): #.items() devuelve una vista de todos los pares clave-valor del diccionario
    print(aspecto, ": ", valor)

nombre :  Eliud Sánchez
edad :  21
carrera :  LCC
area preferida :  IA
semestre :  8
promedio :  88
calificaciones :  [100, 94, 94, 88, 97, 100]

In [ ]:
#El método .clear() también se puede usar aquí. Tenemos otros como el.get() que nos ayuda a obtener el value de cierta key
print(alumno.get("nombre"))

Eliud Sánchez

In [ ]:
#Tenemos el método .items() que ya usamos arriba, y como vimos, devuelve tanto los key como values
#Otro uso es que con ello podemos pasar a una lista nuestro diccionario:
alumno_l = alumno.items()
alumno_lista = list(alumno_l)
alumno_lista

[('nombre', 'Eliud Sánchez'),
 ('edad', 21),
 ('carrera', 'LCC'),
 ('area preferida', 'IA'),
 ('semestre', 8),
 ('promedio', 88),
 ('calificaciones', [100, 94, 94, 88, 97, 100])]

In [ ]:
#Otro método es .keys(), que nos devuelve las keys del diccionario y también se usa al iterar
alumno_k = alumno.keys()
alumno_k

dict_keys(['nombre', 'edad', 'carrera', 'area preferida', 'semestre', 'promedio', 'calificaciones'])

In [ ]:
for aspecto in alumno.keys():
    print(aspecto)

nombre
edad
carrera
area preferida
semestre
promedio
calificaciones

In [36]:
#El método .values() sirve para obtener los values del diccionario, también se puede usar en la iteracción
alumno_v = alumno.values()
print(type(alumno_v))
alumno_v

<class 'dict_values'>

dict_values(['Eliud Sánchez', 21, 'LCC', 'IA', 8, 88, [100, 94, 94, 88, 97, 100]])

In [ ]:
#El operador in se puede utilizar con las keys
if "carrera" in alumno:
    print("Existe carrera")
else:
    print("No existe carrera")

if("dinero") in alumno:
    print("Alumno tiene dinero")
else:
    print("Alumno no tiene dinero")

Existe carrera
Alumno no tiene dinero

In [ ]:
#Otro método para cambiar los values es .update()
alumno.update({"semestre": 6})
alumno

{'nombre': 'Eliud Sánchez',
 'edad': 21,
 'carrera': 'LCC',
 'area preferida': 'IA',
 'semestre': 6,
 'promedio': 88,
 'calificaciones': [100, 94, 94, 88, 97, 100]}

In [ ]:
#Podemos hacer copias de diccionario con .copy()
alumnoCopia = alumno.copy()
alumnoCopia

{'nombre': 'Eliud Sánchez',
 'edad': 21,
 'carrera': 'LCC',
 'area preferida': 'IA',
 'semestre': 6,
 'promedio': 88,
 'calificaciones': [100, 94, 94, 88, 97, 100]}

In [ ]:
# Opcional:

# Lista de productos
productos = ["manzana", "banana", "leche", "pan"]  # <-- LISTA

# Tupla de precios
precios = (10, 5, 20, 15)  # <-- TUPLA

# Diccionario de inventario: producto -> {"precio": x, "stock": y}
inventario = {productos[i]: {"precio": precios[i], "stock": 10} for i in range(len(productos))}
# <-- DICCIONARIO
# Clave: nombre del producto
# Valor: otro diccionario con "precio" y "stock"

# Set de productos en oferta
ofertas = {"manzana", "pan"}  # <-- SET

# Mostrar productos
for p in productos:
    msg = "OFERTA!!!" if p in ofertas else "Grandes precios!"
    info = inventario[p]
    print(f"{p.title()} - ${info['precio']} - Stock: {info['stock']} -> {msg}")

# Compra simple
compra = input("\n¿Qué producto quieres comprar? ").strip().lower()
if compra in inventario and inventario[compra]["stock"] > 0:
    inventario[compra]["stock"] -= 1
    print(f"Compraste 1 {compra}. Stock restante: {inventario[compra]['stock']}")
else:
    print("Producto no disponible.")